body {
  margin: 0;
  width: 100%;
}

.leaflet-control-scale {
  display: none;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-bottom {
  right: 15px;
  bottom: 100px
}

.leaflet-right{
  right: 15px;
}

.leaflet-top{
  top: 15px;
}